{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <h1>Livros</h1><a href="{{ url_for('new_book') }}">Novo</a>
        <table class="table">
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Genero</th>
                </tr>
                {% for item in books: %}
                    <tr>
                        <td><a href="/book/{{ item.id }}">{{ item.title }}</a></td>
                        <td>{{ item.author }}</td>
                        <td>{{ item.publisher }}</td>
                        <td>{{ item.gender }}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
</div> <!-- /container -->
{% endblock %}