{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <h2>Change Password</h2>
      <form action="" method="POST" name="register">
            {{ form.hidden_tag() }}
            <label for="inputOldPassword">Old Password</label>
            {{ form.old_password(class="form-control", id="inputOldPassword") }}
            <label for="inputNewPassword">New Password</label>
            {{ form.new_password(class="form-control", id="inputNewPassword") }}
            <label for="inputNewPasswordRepeat">Repeat New Password</label>
            {{ form.new_password_repeat(class="form-control", id="inputNewPasswordRepeat") }}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save" />
      </form>
  </div>
</div> <!-- /container -->
{% endblock %}
