<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BookFree</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!-- <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li> -->

            {% if current_user == None or not current_user.is_authenticated: %}
              <li role="presentation" class="active"><a href="{{ url_for('register') }}">Register</a></li>
              <li role="presentation" class="active"><a href="{{ url_for('login') }}">Login</a></li>
            
            {% else %}
              <li role="presentation" class="active"><a href="{{ url_for('list_all_book') }}">Livros</a></li>
              <li role="presentation" class="active">
                <a href="{{ url_for('list_collection') }}">Meu acervo</a>
              </li>
               <li role="presentation" class="active">
                <a href="{{ url_for('list_sale') }}">Vendas</a>
              </li>
              <li role="presentation" class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}


            
            
            
            

          </ul>
        </nav>
        <h3 class="text-muted">BookFree</h3>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

      <footer class="footer">
        <p>&copy; 2016 BookFree</p>
      </footer>

    </div> <!-- /container -->

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
			integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>