{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
       <h1>BookFree</h1>
       <p class="lead">O BookFree é uma aplicação web voltada para o empréstimo e controle de livros dos usuários. Nele, o usuário pode:</p>
       <ul>
           <li>Cadastrar todos os livros que possui ou que deseja adquirir</li>
           <li>Solicitar o empréstimo de livros de outros usuários, emprestar seus próprios livros e gerenciar todos os empréstimos por categorias como: tempo, conservação, proximidade, etc.</li>
           <li>Ser publicamente avaliado de acordo com os empréstimos realizados, criando boa reputação</li>
       </ul>
       <p><a class="btn btn-lg btn-success" href="{{ url_for('register') }}" role="button">Registre-se</a></p>
</div>
{% endblock %}
